#main #wrap #nav #data {
    color: black;
}

#main #wrap #nav #li_data  {
	border-bottom: solid 2px #919191;
}

#main #content #data_board {
    position: relative;
    top: 20px;
    left: 6%;
    width: 80%;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    min-height: 500px;
    max-width: 700px;
}

#main #content #data_board #data {
    position: relative;
    width: 80%;
    height: 100%;
    top: 18px;
    left: 30px;
}

#main #content #data_board #data, #name, #sex, #sign, #birthday, #phone, #hobby, #hometown, #email, #job, #school, #company, #sign, #resume {
	position: relative;
	width: 100%;
	height: 35px;
}

#main #content #data_board #data .dataInput {
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 15px;
    font-size: 15px;
    display: none;
    width: 170px;
} 

#main #content #data_board #data #resumeText {
	border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: #8a8a8a solid 1px;
    height: 50px;
    font-size: 15px;
    width: 200px;
}

#main #content #data_board #dataEdit {
    position: relative;
    float: right;
    right: 0px;
    top: -40px;
    width: 15px;
    height: 15px;
    cursor: pointer;
}

#main #content #data_board #saveData {
    position: relative;
    float: right;
    top: -40px;
    font-size: 10px;
    cursor: pointer;
    display: none;
}

#main #content #data_board #exit {
    position: relative;
    float: right;
    right: 0px;
    top: -40px;
    font-size: 10px;
    cursor: pointer;
    display: none;
}

#main #content #data_board #dataBamboo {
    position: relative;
    width: 200px; 
    float: right;      
    top: 150px; 
    right: -100px; 
    opacity: 0.8;
}

@media only screen and (max-width: 600px) {
    #main #content #data_board #dataBamboo {
        width: 100px;
    }
}


















