#mobile_shadow {
	position: fixed;
	display: none;
    top: 0px;
    left: 0px;
    z-index: 1000;
    background-color: black;
    opacity: 0.5;
    width: 600px;
    height: 100%;
}

#mobile_box {
	z-index: 1200;
	position: fixed;
	display: none;
	width: 120px;
	height: 300px;
	float: right;
	top: 0px;
	right: 50px;
	line-height: 30px;
}


.mobile_link {
	position: relative;
	right: 1px;
	top: 50px;
	display: block;
	color: white;
	text-align: right;
}

#mobile_back {
	position: fixed;
	display: inline-block;
	top: 15px;
    float: right;
    right: 4.5%;
    width: 20px;
    height: 20px;
    animation: backAnimate 1s;
    cursor: pointer;
}

@keyframes backAnimate
{
	from { transform: rotateZ(0deg); }
	to { transform: rotateZ(90deg); }
}

#mobile_box a:hover {
	color: black;
}

#mobile_wrap {
    position: fixed;
    width: 100%;
    display: none;
    height: 50px;
}

#mobile_wrap #mobile_head_portrait {
    position: fixed;
    display: inline-block;
    top: 12px;
    left: 5%;
    width: 30px;
    height: 30px;
    border-radius: 50px;
}

#mobile_wrap #mobile_head_portrait #mobile_select_upload {
    position: absolute;
    width: 32px;
    height: 32px;
    border-radius: 50px;   
    display: block;
}

#mobile_wrap #mobile_head_portrait #mobile_select_upload:hover {
    background-color: grey;
    opacity: 0.1;
}

#mobile_wrap #mobile_head_portrait #mobile_upload_img {
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    opacity: 0;
}

#mobile_wrap #mobile_head_portrait #mobile_upload_img:hover {
    cursor: pointer; 
}

#mobile_wrap a {
    position: relative;
    font-family: Brush Script MT;
    font-size: 30px;
    top: 4px;
    left: 50%;
    display: inline-block;
    transform: translateX(-48%);
}

#mobile_wrap #expand-menu {
    position: relative;
    top: 15px;
    float: right;
    right: 5%;
    width: 23px;
    height: 24px;
    cursor: pointer;
}

@media only screen and (max-width: 800px) {
	#home #com a {
		font-size: 23px;
	}

	#welcomeBack {
		display: none;
	}
}

@media only screen and (max-width: 700px) {
	#home #com a {
		font-size: 20px;
	}
}

@media only screen and (max-width: 600px) {
	#mobile_wrap {
		z-index: 100;
		position: fixed;
	    top: 0px;
	    width: 100%;
	    display: block;
	    height: 54px;
	    background-color: #999fac;
	}

	#main {
		margin: 0px;
		bottom: 2px;
		width: 100%;
		height: 93%;
	}

	#main #wrap {
		display: none;
	}

	#home {
		display: none;
		width: 0%;
		height: 0%;
	}

	#main #content {
		width: 100%;
		height: 100%;
	}	

	#quanping {
		display: none;
	}
}

@media only screen and (max-height: 490px) {
	#main #content {
		top: 25px;
	}
}