* {
    font-family: STKaiti, YouYuan, sans-serif;
    /*不要设置全部字体颜色，否则其他会出错*/
    /*cursor: url(https://images2015.cnblogs.com/blog/961272/201607/961272-20160719145928310-806072030.gif), default!important;*/
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: black;
}

li {
    list-style-type: none;
}

textarea {
    resize: none;
}

/*.tip {*/
    /*border: 2px solid #ddd;*/
    /*padding: 8px;*/
    /*background: #f1f1f1;*/
    /*color:#666;*/
/*}*/

body { 
    color: #fff; 
    font-size: 1em; 
    margin: 0px; 
    padding: 0px; 
    width: 100%; 
    height: 100%; 
    background: url('') no-repeat center fixed; 
    background-size: cover;
}

#home {
    position: fixed;
    display: block;
    width: 20%;
    height: 100%;
    background: url("../images/homepic.jpeg");
    background-size: cover;
    float: left;
    z-index: 20;    
    left: 0px;
    min-height: 600px;
}

#home #com {
    position: relative;
    top: 1%;
    text-align: center;
    font-size: 28px;
}

#home #com a {
    text-decoration: none;
    color: #fff;
    font-family: Brush Script MT;
}

#home #com a:hover {
    color: black;
}

#home #head_portrait {
    position: relative;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 50px;
}

#home #head_portrait #select_upload {
    position: absolute;
    width: 82px;
    height: 82px;
    border-radius: 50px;   
    display: block;
}

#home #head_portrait #select_upload:hover {
    background-color: grey;
    opacity: 0.1;
    cursor: pointer;
}

#home #head_portrait #upload_img {
    position: absolute;
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 50px;
    background-color: black;
    overflow: hidden;
}

input[type='file'] {
    position: absolute;
    cursor: pointer;
    font-size: 0px;
    opacity: 0;
}

#home #head_portrait #upload_img:hover {
    cursor: pointer; 
}

#home #personal_signature {
    position: relative;
    top: 10%;
    text-align: center;
    font-size: 20px;
    color: black; 
    width: auto;
    height: 20px;
}

#home #personal_signature p {
    font-family: Brush Script MT;
}

#home #menu {
    position: relative;
    top: 200px;
    text-align: center;
    width: 100%;
}

#home #menu a {
    color: #fff;
    font-size: 20px;
    font-family: STKaiti, YouYuan;
}

#home #menu a:hover {
    color: black; 
}

#main {
    position: fixed;
    float: right;
    width: 80%;
    height: 100%;
    right: 0px;
    /* 如果mystyle.css中使用overflow:auto->含有滚动条宽度; 故使用overflow:scroll */
    overflow-y: scroll;
    background: linear-gradient(to right, #fff, #ebebeb);
}

#main #wrap {
    background-color: #fff;
    position: relative;
    top: 0px;
    left: 0px;
    height: 52px;
    width: 100%;
    z-index: 1000;
    display: block;
}

#main #wrap #nav { 
    position: relative;
    width: 375px;
    height: 60%;
    background-color: #fff;
    font-size: 10px;
    display: inline-block;
}

#main #wrap #nav li {
    position: relative;
    height: 100%;
    display: inline-block;
    text-align: center;
}

#main #wrap #nav li:hover { 
    border-bottom: solid 2px #919191;
}

#main #wrap #nav li:hover a {
    color: black;
}

#main #wrap #nav a {
    color: #919191;
    font-size: 18px;
    font-family: STKaiti, YouYuan;
    line-height: 30px;
}

#main #wrap #nav a:hover {
    color: #000000;
}

#main #wrap #welcomeBack {
    position: relative;
    display: inline-block;
    top: 20px;
    float: right;
    width: 150px;
    height: 50%;
    color: #8a8a8a;
    background-color: #fff;
    font-size: 12px;
    z-index: 1000;
}

#main #content {
    position: relative;
    color: black;
    top: 0px;
    height: 92%;
    width: 100%;
    float: right;
    right: 0px; 
    background: linear-gradient(to right, #fff, #ebebeb); 
}

#footer {
    position: absolute;
    text-align: center;
    bottom: 10px;
    width: 100%;
    height: 20px;
}

#footer span {
    text-align: center;
    color: #fff;
    font-size: 12px;  
}

/*编辑内容部分*/


#main #content #board {
    position: relative;
    top: 20px;
    left: 6%;
    width: 70%;
    max-width: 70%;
    height: 200px;
}

#main #content #board #board_set {
    position: relative;
    width: 100%;
    max-width: 100%;
    height: 110%;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#main #content #board #board_set #msg {
    position: relative;
    border: 1px solid black;
    outline: none;
    padding-top: 2px;
    padding-left: 2px;
    padding-right: 2px;
    left: 10%;
    width: 80%;
    max-width: 300px;
    min-width: 80%;
    height: 80%;
    border-radius: 10px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
    font-size: 20px;
    overflow-y: auto;
    color: black;
}

#main #content #board #board_set #msg a {
    text-decoration: underline;
    color: blue;
}

@media only screen and (max-width: 600px) {
    #main #content #board {
        width: 400px;
        left: 12%;  
    }

    #main #content #board #board_set #msg {
        max-width: 300px;
    }
}

#main #content #board #board_set #bianji {
    position: relative;
    width: 81%;
    max-width: 81%;
    height: 30px;
    left: 10%;
    bottom: 5px;
}

#main #content #board #board_set #bianji #btn {
    position: relative; 
    border-radius: 50%;
    font-size: 15px;
    display: inline-block;
    top: 0px;
    float: right;
}

#main #content #board #board_set #bianji #jinghao {
    position: relative;
    width: 17px;
    height: 17px;
    cursor: pointer;
    top: -1.1px;
}

#main #content #board #board_set #bianji #xiaolian, #gaojibianji, #quanping, #huanyuan, #picture {
    position: relative;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

#main #content #board #board_set #huanyuan {
    display: none;
}

#main #content #board #edit {
    position: relative;
    border: 1px solid #8a8a8a;
    border-radius: 5px;
    display: inline-block;
    width: 143px;
    display: none;
    height: 22px;
}

#main #content #board #edit #etitle, #exieti, #ebold, #eunderline, #elink {
    position: relative;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

#main #content #board #emojis {
    position: relative;
    display: block;
    width: 180px;
    height: 85px;
    border: 1px solid #8a8a8a;
    border-radius: 5px;
    background-color: #fff;
    display: none;
}

#main #content #board #emojis .emoji {
    position: relative;
    left: 2.5px;
    top: 2px;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

#main #content #board #emojis .emoji:hover {
    width: 26px;
    height: 26px;
}

#etitle {
    left: 3px;
}

#exieti {
    left: -5px;
}

#eunderline {
    left: -8px;
}

#elink {
    left: -2px;
}

#main #content #board #edit #ecolor {
    position: relative;
    display: inline-block;
    background-color: black;
    width: 18px;
    height: 18px;
    top: -6px;
    cursor: pointer;
    left: -5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#main #content #board #submit {
    position: relative;
    width: 20px;
    height: 20px;
    cursor: pointer;
    float: right;
    display: inline-block;
}

#main #content #board #colorBar {
    position: relative;
    display: block;
    width: 200px;
    height: 22px;
    border: 1px solid #8a8a8a;
    left: 10.5%;
    border-radius: 5px;
    background-color: #fff;
    display: none;
}

.colors {
    position: relative;
    display: inline-block;
    width: 18px;
    height: 18px;
    background-color: black;
    top: 0.5px;
    left: 14px;
    cursor: pointer;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#red_block {
    background-color: red;
}

#orange_block {
    background-color: orange;
}

#yellow_block {
    background-color: yellow;
}

#green_block {
    background-color: green;
}

#blue_block {
    background-color: blue;
}

#purple_block {
    background-color: purple;
}

#black_block {
    background-color: black;
}

#brown_block {
    background-color: brown;
}




















