#main {
	background-color: red!important;
}

#main #wrap #nav #recommend {
	color: black;
}

#main #wrap #nav #li_recommend {
	border-bottom: solid 2px #919191;
}

/* 轮播图样式表 */
#content #carousel_wrap {
	position: relative;
	margin: 0 auto;
	width: 100%; /* 轮播图宽度 */
	overflow: hidden;
}

#content #carousel_wrap #carousel_images {
	position: absolute;
	border: 0;
	outline: none;
	white-space: nowrap; /* 将图片一行排列 */
	width: 100%;
	font-size: 0; /* 清除white-space间隙 */
	margin: 0px; 
}

#content #carousel_wrap #carousel_images img {
	width: 100%;http://localhost:8080/Web-project7/images/carousel/3.jpg
}

#content #carousel_wrap .arrow {
	position: absolute;
	font-weight: bold;
	font-size: 50px;
	color: lightgray;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
	transition-property: opacity;
	transition-duration: 0.5s;
}

#content #carousel_wrap .arrow:hover {
	opacity: 0.5;
}

#content #carousel_wrap .left-arrow {
	left: 20px;
}

#content #carousel_wrap .right-arrow {
	right: 20px;
}

#content #carousel_wrap #dots {
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%)
}

#content #carousel_wrap .dot {
	background-color: white;
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	margin: 4px;
	opacity: 0.2;
	cursor: pointer;
}

#content #carousel_wrap .active {
	opacity: 1;
}

.transition {
	transition-property: left;
	transition-duration: 1s;
}

#inner_content {
	width: 1245px;
	margin: 20px auto;
}

#inner_content:after {
	content: '';
	clear: both;
	display: block;
}

#inner_content .inner_user:after {
	content: '';
	clear: both;
	display: block;
}

#inner_content .inner_item {
	cursor: pointer;
	/* 实现动画放大效果 */
	transition-property: all;
	transition-delay: 0.1s;
	transition-duration: 0.4s;
}

#inner_content .inner_item:hover {
	/* 实现动画放大效果 */
	transform: scale(1.013);
}

#inner_content .inner_item {
	width: 600px;
	height: 400px;
	box-shadow: 0px 7px 10px lightgray;
	margin: 10px;
	display: inline-block;
}

#inner_content .inner_img {
	height: 250px;
	background-position: center center;
	background-size: 110%;
}

#inner_content .inner_user {
	/* border: 1px solid green; */
	height: 50px;
}

#inner_content .inner_user .inner_avatar {
	float: left;
}

#inner_content .inner_avatar {
	width: 40px;
	height: 40px;
	margin: 5px 5px 5px 15px;
	border-radius: 50%;
	border: 1px solid lightgray;
	background-position: 50% 50%;
	background-size: 100%;
}

#inner_content .inner_username {
	font-size: 11px;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	float: left;
	width: 100px;
	height: 20px;
	margin: 10px;
}

#inner_content .inner_intro {
	margin: 10px 15px;
	font-size: 25px;
	font-family: 微软雅黑;
	font-weight: bold;
}

@media only screen and (max-width: 600px) {
	#content #carousel_wrap .arrow {
		opacity: 0;
	}

	#inner_content {
		width: 100%;
	}

	#inner_content .inner_item {
		width: 95%;
		height: 400px;
		box-shadow: 0px 7px 10px lightgray;
		margin: 10px;
	}

	#inner_content .inner_img {
		height: 250px;
		background-position: center center;
		background-size: 110%;
	}
	
	#inner_content .inner_user {
		/* border: 1px solid green; */
		height: 50px;
	}

	#inner_content .inner_user .inner_avatar {
		float: left;
	}

	#inner_content .inner_avatar {
		width: 40px;
		height: 40px;
		margin: 5px 5px 5px 15px;
		border-radius: 50%;
		border: 1px solid lightgray;
		background-position: 60% 20%;
		background-size: 170%;
	}

	#inner_content .inner_username {
		font-size: 11px;
		font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
		float: left;
		width: 100px;
		height: 20px;
		margin: 10px;
	}

	#inner_content .inner_intro {
		margin: 10px 15px;
		font-size: 25px;
		font-family: 微软雅黑;
		font-weight: bold;
	}
}
/* END 轮播图样式表 */