#container {
    margin-left: 30px;
}

#container form #search_inner {
    margin-top: 20px;
}

.user_searched {
    margin-top: 20px;
}

#search_borad {
    border: 1px solid lightgray;
    border-radius: 15px;
    position: relative;
    width: 140px;
    margin-top: 20px;
    line-height: 30px;
    transition-property: border;
    transition-duration: 0.5s;
    display: inline-block;
}

#search_borad input {
    font-size: 15px;
    margin-left: 10px;
    border: none;
    width: 100px;
}

#search_borad a img {
    width: 30px;
    position: absolute;
    opacity: 0.5;
    right: 0;
}

#search_borad:hover {
    border: 1px solid black;
}

#search_borad a:hover img {
    opacity: 1;
}

.search_active {
    border: 1px solid black!important;
}


.user_avatar {
    /* float: left; */
    margin-right: 20px;
    line-height: 100px;
    position: relative;
    top: 20px;
    display: inline-block;
}

.user_content {
    /* margin-left: 30px; */
    line-height: 100px;
    width: 80%;
    display: inline-block;
}

.user_content .user_name {
    font-size: 18px;
    font-weight: bold;
    font-family: 微软雅黑;
}

.user_content .user_hobby {
    margin-left: 10px;
}

.user_content .user_follow {
    position: absolute; 
    right: 30px;
}

.user_content .user_follow button {
   /* TODO 关注按钮样式*/
}

.user_item:first-child {
    border-top: 1px solid lightgray;
}

.user_item {
    /* float: left; */
    display: block;
    border-bottom: 1px solid lightgray;
    /* border-color: black; */
}

.user_item:after {
    content: '';
    clear: both;
    display: block;
}

.follow_button {
    outline: none;
    cursor: pointer;
    border: 1px solid lightgray;
    width: 75px;
    line-height: 30px;
    border-radius: 5px;
}

.followed {
    background-color: rgb(229, 233, 239);
}

.follow_button:hover {
    border-color: black;
}

.follow_button:hover a {
    color: black;
}

.follow_button a {
    color: gray;
    font-family: 微软雅黑;
}

@media only screen and (max-width: 700px) {
    .user_content .user_hobby {
        display: none;
    }
}
