#container {
    margin-left: 30px;
}

#container form #search_inner {
    margin-top: 20px;
}

.user_searched {
    margin-top: 20px;
}

.user_avatar {
    /* float: left; */
    margin-right: 20px;
    line-height: 100px;
    position: relative;
    top: 20px;
    display: inline-block;
}

.user_content {
    /* margin-left: 30px; */
    line-height: 100px;
    width: 80%;
    display: inline-block;
}

.user_content .user_name {
    font-size: 18px;
    font-weight: bold;
    font-family: 微软雅黑;
}

.user_content .user_hobby {
    margin-left: 10px;
}

.user_content .user_follow {
    position: absolute; 
    right: 30px;
}

.user_content .user_follow button {
   /* TODO 关注按钮样式*/
}

.user_item:first-child {
    border-top: 1px solid lightgray;
}

.user_item {
    /* float: left; */
    display: block;
    border-bottom: 1px solid lightgray;
    /* border-color: black; */
}

.user_item:after {
    content: '';
    clear: both;
    display: block;
}

#follow_result {
    font-family: 微软雅黑;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    text-align: center;
    line-height: 50px;
    background-color: rgb(51, 51, 51);
    border-radius: 8px;
    z-index: 200;
    display: none;
    transition-property: display;
    transition-duration: 2s;
}

@media only screen and (max-width: 700px) {
    .user_content .user_hobby {
        display: none;
    }
}